@media only screen and (max-width: 810px) {
    #closeMobileMenu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 40;
        display: none;
    }
    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    .mobile-hide {
        display: none;
    }

    #top {
        background-color: #4d4d4d;
        display: flex;
        align-items: center;
        width: 100%;
        height: 60px;
        position: fixed;
        top: 0;
        z-index: 1000;
        justify-content: space-between;
    }

    #top #logo img {
        height: 100%;
        width: 60px;
        margin-left: 10px;
    }

    /* #top .center {
        flex: 1;
    } */

    #top nav {
        display: none;

    }

    #top #language {
        display: none;
    }

    #top #mobile-icon-menu {
        margin: 0 10px;

        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }

    #top #mobile-icon-menu i {
        color: #fff;
        padding: 5px;
    }

    #m-menu {
        position: absolute;
        top: 0;
        width: 100%;
        background-color: #82cd47;
        z-index: 10000;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        display: none;
    }

    #m-menu ul {}

    #m-menu ul li {
        list-style-type: none;
    }

    #m-menu div {
        margin: 0 0 20px;
        padding: 0 0 0 40px;
    }
    #close {
        position: absolute;
        top: 0;
        right: 20px;
        z-index: 11000;
    }

    #video-banner {
        width: 100%;
        display: flex;
        margin-top: 60px;
    }

    #video-banner video {
        height: 0px;
    }

    #video-banner img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

    #banner img{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

    #slogan {
        background-color: #82cd47;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #slogan h1 {
        font-size: 1.1rem;
        font-family: helve, "Helvetica Neue", Helvetica, sans-serif;
        color: #fff;
        text-align: center;
    }

    #slogan p {
        font-family: helve, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 0.7rem;
        font-size: 13px;
        color: #fff;
        margin: 0 30px;
        text-align: center;
    }

    #why {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #why h2 {
        font-size: 1.2rem;
        line-height: 30px;
        margin: 0;
        color: #fff;
        margin-top: 39.35px;
        text-align: center;
        font-weight: 600;
    }


    #why .wrapper .item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    #why .wrapper .item img {
        -webkit-filter: drop-shadow(5px 5px 5px #222);
        filter: drop-shadow(5px 5px 5px #222);
        width: 60%;
        object-fit: contain;
    }

    #why .wrapper .item h3 {
        color: #fff;
        font-size: 1em;
        line-height: 20px;
        font-weight: 700;
        text-align: center;
        text-shadow: 2px 2px #696969;
    }

    #why .wrapper .item p {
        color: #fff;
        font-size: 13px;
        line-height: 17.5px;
        text-align: center;
        width: 90%;
        text-shadow: 1px 1px #696969;
    }

    #services {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }

    #services h2 {
        width: 80%;
        font-size: 1.2rem;
        line-height: 30px;
        margin: 15px 0 10px;
        text-align: center;
        font-weight: 600;
        font-family: helve, "Helvetica Neue", Helvetica, sans-serif;
    }


    #services .wrapper .item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #services .wrapper .item img {
        width: 80%;
    }

    #services .wrapper .item div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 20px;
    }

    #services .wrapper .item div h3 {
        font-family: helve, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 15px;
        margin: 0;
    }

    #services .wrapper .item div p {
        font-family: helve, "Helvetica Neue", Helvetica, sans-serif;
        text-align: center;
        font-size: 13px;
    }

    #services .wrapper .item div button {
        width: 150px;
        height: 30px;
        background-color: #82cd47;
        text-transform: uppercase;
        border: 1px solid #82cd47;
        border-radius: 3px;
        color: #fff;
        font-family: helve, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 13px;
        font-weight: 700;
    }

    #numbers {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    #numbers h2 {
        width: 80%;
        font-size: 1.2rem;
        line-height: 30px;
        text-align: center;
        font-weight: 600;
        color: #fff;
        margin: 20px 0;
        font-family: helve, "Helvetica Neue", Helvetica, sans-serif;
    }

    #numbers .wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 20px 0 30px;
        width: 280px;
    }

    #numbers .wrapper .item {
        display: flex;
        align-items: center;

    }

    #numbers .wrapper .item .box h3 {
        color: #fff;
        padding: 0;
        margin: 0;
        font-size: 24px;
        line-height: 25px;
        font-weight: 700;
        font-family: helve, "Helvetica Neue", Helvetica, sans-serif;
    }

    #numbers .wrapper .item .box p {
        color: #fff;
        padding: 0;
        margin: 0;
        font-size: 11.14px;
        line-height: 16.7px;
        font-family: helve, "Helvetica Neue", Helvetica, sans-serif;
    }

    #partner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }

    #partner h2 {
        width: 80%;
        font-size: 2rem;
        line-height: 50px;
        text-align: center;
        font-weight: 600;
        margin: 40px 0;
        font-family: helve, "Helvetica Neue", Helvetica, sans-serif;
    }

    #partner p {
        margin: 0 30px;
        text-align: center;
        font-family: helve, "Helvetica Neue", Helvetica, sans-serif;
    }

    #partner .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #partner .wrapper img {
        width: 20%;
    }

    #projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }

    #projects h2 {
        width: 80%;
        font-size: 1.8rem;
        line-height: 50px;
        margin: 0;
        margin-top: 39.35px;
        text-align: center;
        font-weight: 600;
        margin: 40px 0;
    }

    #projects .wrapper {
        /* display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px; */
        width: 100%;
    }

    #projects .wrapper .item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        margin-bottom: 65px;
    }

    #projects .wrapper .item img {
        width: 100%;
    }

    #projects .wrapper .item .box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        width: 60%;
        background-color: #fff;
        top: 220px;
        border-radius: 10px;
        padding: 10px 10px
    }

    #projects .wrapper .item .box p {
        margin: 0;
    }

    #projects .wrapper .item .box a {
        text-decoration: none;
        color: #4CAF4F;
    }

    #news {
        padding: 20px 0;
    }

    #news h2 {
        text-align: center;
    }

    #news .wrapper {
        width: 100%;
        padding: 0 10px
    }

    #news .wrapper .item {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #055E64;
        border-radius: 15px;
        width: 100%;
    }

    #news .wrapper .item img {
        margin: 15px;
        flex: 1;
    }

    #news .wrapper .item .box {
        display: flex;
        flex-direction: column;
        color: #fff;
        flex: 2;
        margin-right: 10px;
    }

    #news .wrapper .item .box h3 {
        font-size: 15px;
    }

    #news .wrapper .item .box p {
        margin: 0;
        font-size: 13px;
    }

    #news .wrapper .item .box a {
        text-decoration: none;
        color: #4CAF4F;
        font-size: 13px;
    }


    #experience {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #experience h2 {
        width: 70%;
        font-size: 1.5rem;
        margin: 0;
        margin-top: 39.35px;
        text-align: center;
        font-weight: 600;
        margin: 40px 0;
        color: #fff;
    }

    #experience .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 20px;
    }

    #experience .wrapper .box {
        background-color: #82cd47;
        border-radius: 22px;
        margin: 10px;
    }

    #experience .wrapper .box img {
        width: 50px;
    }

    #experience .wrapper .box input {
        border: 0;
        outline: 0;
        background-color: transparent;
        margin: 5px;
    }

    #experience .wrapper button {
        border-radius: 15px;
        width: 100px;
        border: 0;
        height: 35px;
    }

    #footer {
        background-color: #0a0e0e;
    }

    #info {
        display: flex;
        color: #fff;
        padding: 20px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #info .wrapper ul {
        padding: 0;
    }

    #info .wrapper .item img {
        width: 50px;
    }

    #info .wrapper ul li {
        list-style-type: none;
    }
}